<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jeremyeaton.partyprint" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PartyPrint</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <icon src='www/img/partyprint-app-icon.png'/>

    <platform name='ios'>
      <splash src="www/img/partyprint-app-icon.png" width="320" height="480"/>
      <splash src="www/img/partyprint-app-icon.png" width="640" height="960"/>
      <splash src="www/img/partyprint-app-icon.png" width="768" height="1024"/>
      <splash src="www/img/partyprint-app-icon.png" width="1536" height="2048"/>
      <splash src="www/img/partyprint-app-icon.png" width="1024" height="768"/>
      <splash src="www/img/partyprint-app-icon.png" width="2048" height="1536"/>
      <splash src="www/img/partyprint-app-icon.png" width="640" height="1136"/>
      <splash src="www/img/partyprint-app-icon.png" width="750" height="1334"/>
      <splash src="www/img/partyprint-app-icon.png" width="1242" height="2208"/>
      <splash src="www/img/partyprint-app-icon.png" width="2208" height="1242"/>
    </platform>

</widget>
